@-webkit-keyframes wait {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes wait {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.top {
  padding: 1em;
  width: 100%;
  height: 100px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px rgba(25, 25, 25, 0.25);
}

.top h1 {
  -webkit-transition: top 2s;
  transition: top 2s;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(calc(50vw - 50%), -100px);
          transform: translate(calc(50vw - 50%), -100px);
}

.top h3 {
  -webkit-transition: top 2s;
  transition: top 2s;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(calc(50vw - 50%), -100px);
          transform: translate(calc(50vw - 50%), -100px);
}

.top .box {
  -webkit-animation: wait 0.5s, fade-in 1s 0.5s;
          animation: wait 0.5s, fade-in 1s 0.5s;
  position: absolute;
  margin: 0;
  left: 0;
  top: 0px;
  width: 100%;
  height: 150px;
  background: rgba(0, 0, 0, 0.5);
}

.desc {
  color: white;
  padding: 8px;
  margin-top: 10px;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

@media only screen and (max-width: 800px) {
  .desc {
    padding: 8px;
    text-align: center;
    margin-top: 25px;
  }
}

.desc p {
  -webkit-animation: wait 1s, fade-in 1s 1s;
          animation: wait 1s, fade-in 1s 1s;
}

.desc ul {
  text-align: center;
  text-decoration: none;
  padding: 0;
}

.desc ul li {
  text-decoration: none;
  list-style-type: none;
}

@media only screen and (min-width: 800px) {
  .desc ul {
    margin-left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    text-align: center;
  }
  .desc ul li {
    text-decoration: unset;
  }
}

.desc ul .f1 {
  -webkit-animation: wait 1.2s, fade-in 1s 1.2s;
          animation: wait 1.2s, fade-in 1s 1.2s;
}

.desc ul .f2 {
  -webkit-animation: wait 1.2s, fade-in 1s 1.2s;
          animation: wait 1.2s, fade-in 1s 1.2s;
}

.desc ul .f3 {
  -webkit-animation: wait 1.3s, fade-in 1s 1.3s;
          animation: wait 1.3s, fade-in 1s 1.3s;
}

.desc ul .f4 {
  -webkit-animation: wait 1.4s, fade-in 1s 1.4s;
          animation: wait 1.4s, fade-in 1s 1.4s;
}

.desc ul .f5 {
  -webkit-animation: wait 1.5s, fade-in 1s 1.5s;
          animation: wait 1.5s, fade-in 1s 1.5s;
}

.desc ul .f6 {
  -webkit-animation: wait 1.6s, fade-in 1s 1.6s;
          animation: wait 1.6s, fade-in 1s 1.6s;
}

.desc .fe {
  -webkit-animation: wait 2s, fade-in 1s 2s;
          animation: wait 2s, fade-in 1s 2s;
}

.demo-vid {
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 512px;
  height: 288px;
}

@media only screen and (max-width: 800px) {
  .demo-vid {
    width: calc(100% - 16px);
    height: calc((100vw - 16px) * 9 / 16);
    margin-left: 8px;
    -webkit-transform: none;
            transform: none;
  }
}

.demo-vid iframe {
  -webkit-animation: wait 2.4s, fade-in 1s 2.4s;
          animation: wait 2.4s, fade-in 1s 2.4s;
}

.install {
  margin-top: 50px;
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

.install p {
  -webkit-animation: wait 2.8s, fade-in 1s 2.8s;
          animation: wait 2.8s, fade-in 1s 2.8s;
}

.install a {
  -webkit-animation: wait 3.2s, fade-in 1s 3.2s;
          animation: wait 3.2s, fade-in 1s 3.2s;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  border-radius: 10px;
  padding: 5px;
  color: white;
  text-decoration: none;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.install a:hover {
  opacity: 0.5;
}

.bottom {
  -webkit-animation: wait 4s, fade-in 1s 4s;
          animation: wait 4s, fade-in 1s 4s;
  text-align: center;
  color: white;
  font-size: 0.5em;
}
/*# sourceMappingURL=index.css.map */