@mixin fade-in($waitTime) {
    animation: 
        wait #{$waitTime},
        fade-in 1s #{$waitTime};
}

@keyframes wait {
    0% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.top {
    animation: fade-in 1s;
    padding: 1em;
    width: 100%;
    height: 50px;
    color: white;
    text-shadow: 2px 2px rgba(25,25,25,0.25);
    a {
        @include fade-in('0.5s');
        //text-decoration: none;
        color: white;
        //z-index: 999;
        transition: top 2s;
        // position: absolute;
        padding: 0;
        margin: 0;
        margin-left: 8px;
        margin-top: 7px;
        top: 0;
        font-size: 1.5em;
        left: 0;
        line-height: 0;
        text-decoration: none;
        // &:hover {
        //     cursor:pointer;
        // }
    }
    .comment {
        @include fade-in('1s');
        //text-decoration: none;
        color: white;
        //z-index: 999;
        transition: top 2s;
        position: absolute;
        text-align: right;
        padding: 0;
        margin: 0;
        right: 24px;
        top: 25px;
        font-size: 1em;
        left: 0;
        line-height: 0;
        transform: translate(0,-50%);
    }
    .box {
        z-index: -1;
        position: absolute;
        margin: 0;
        left: 0;
        top: 0px;
        width: 100%;
        height: 50px;
        background: rgba(0,0,0,0.5);
    }
}

.main {
    p {
        @include fade-in("1.5s");
        color: white;
        padding: 8px;
        margin: 0;
        a {
            color: white;
        }
    }
}
