@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    animation: fadeColor 2s;
    background:rgb(17,0,255);
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

@keyframes fadeColor {
    0% {background:rgb(0,0,0);}
    100% {background:rgb(17,0,255);}
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

@mixin fade-in($waitTime) {
    animation: 
        wait #{$waitTime},
        fade-in 1s #{$waitTime};
}

@keyframes wait {
    0% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade1 {
    animation: fade-in 1s;
}
.fade2 {
    @include fade-in('1s');
}
.fade3 {
    @include fade-in('2s');
}
.fade4 {
    @include fade-in('3s');
}
.fade5 {
    @include fade-in('4s');
}
.fade6 {
    @include fade-in('5s');
}
.fade7 {
    @include fade-in('6s');
}
.fade8 {
    @include fade-in('7s');
}
.fade9 {
    @include fade-in('8s');
}

